//
//  Config.xcconfig
//  Twinme
//
//  Created by Stephane Carrez on 08/03/2023.
//  Copyright © 2023 Twinlife-Systems. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include? "Pods/Target Support Files/Pods-twinme/Pods-twinme.debug.xcconfig"
#include? "Pods/Target Support Files/Pods-twinme-plus/Pods-twinme-plus.debug.xcconfig"

VERSION_NUMBER=31.5

BUILD_NUMBER=345

GCC_PREPROCESSOR_DEFINITIONS=$(inherited) TWINME
