<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>subscription.one_month_auto_renew_20221010</string>
	<string>subscription.six_month_auto_renew_20221010</string>
	<string>subscription.one_year_auto_renew_20221010</string>
</array>
</plist>
