<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:invite.twin.me</string>
		<string>applinks:authenticate.twin.me</string>
		<string>applinks:proxy.twin.me</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.twinme.data</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)me.twin.twinme</string>
	</array>
</dict>
</plist>
